
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: rubik, sans-serif;
}
a{
    text-decoration: none;
}
.nav-icons{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 13px 26%;
    justify-content: space-between;
    
    
}
.nav-icons a{
    color: #0ef;
    font-size: 35px;
    border: none;
    font-weight: light;
    padding: 15px 30px;
    margin-left: 5rem 10rem;
    align-items: center;
    justify-content: center;
}
.home-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* home section*/
#home{
    background-image: url(homepage.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .3;
    z-index: -1;
}
#home .home-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;

}
#home p{
    display: block;
    width: fit-content;
    font-size: 4 rem;
    color: transparent;
    position: relative;
    font-size: 40px;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#home p:nth-child(1){
    animation-delay: 1s;
}
#home p:nth-child(2){
    animation-delay: 2.3s;
}
#home p:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3.8s;
}

#home p span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #0ef;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#home p:nth-child(1) span{
    animation-delay: .5s;
}
#home p:nth-child(2) span{
    animation-delay: 2s;
}
#home p:nth-child(3) span{
    animation-delay: 3.5s;
}
.cta{
    display: inline-block;
    padding: 7px 20px;
    color: #0ef;
    background-color: transparent;
    border: 2px solid #0ef;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    border-radius: 5px;
    transition: .3s ease background-color, color;
    
}
.cta:hover{
    color: black;
    background-color: #0ef;
}
/* end of home section */

/* keyframes */
@keyframes text_reveal_box{
   50%{
    width: 100%;
    left: 0;
   }
   100%{
       width:0;
       left: 100%
   }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
 }
 @keyframes text_reveal_name{
    100%{
        color: #0ef;
        font-weight: 500;
    }
 }
/* end keyframes */